html, body {
  margin: 0;
  padding:0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

header{
  width:100%;
  height:auto;
  background: rgb(130, 150, 155);
  display:flex;
}

h1{
  margin:0;
  padding: 0;
}

ul.menu-principal{
  list-style: none;
  margin: 0  auto;
  padding: 0;
}

ul.menu-principal li{
  padding-top:15px;
  padding-bottom:15px;
}

.root-search{
  display:flex;
  flex-wrap: wrap;
  margin-top:3%;
}

.each-search{
  width: 250px;
}

.each-search ul{
  list-style: none;
}

.search-box{
  width:180px;
  height:50px;
  margin: 0 auto;
  display:block;
}

.headerMovie{
  list-style: none;
  display:inline-flex;
  margin:0;
  padding:0;
}

.headerMovie li{
  padding-top:15px;
  padding-bottom:15px;
}

.headerMovie .titleShow{
  font-size:1.2em;
  padding-right:0.5em;
}